@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Urbanist', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Nunito', sans-serif; */


*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Urbanist', sans-serif;
}
p,a,ul,li,label{
    font-family: 'Nunito', sans-serif; 
}

/* add by javascript */

.alert {
    border-color: red !important;
    background-color: #ff00001f !important;
}

.containerrr {
    width: 17%;
    margin: auto;
    padding: 35px;
}

.signUp_logo {
    width: 100%;
}

.signUp_logo img {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.signup_input {
    border-radius: 10px;
    background: white;
    padding: 10px;
    box-shadow: 0px 4px 9px 0px #0000002e;
    }

header#signupBox {
    background: #F0F2F5;
}

.signup_input_title {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #80808061;
    margin-bottom: 15px;
}
form#signup_input_box .name {
    width: 45%;
    outline: none;
    border: 1px solid #80808096;
    border-radius: 3px;
    padding: 6px 4px;
    font-size: 14px;
    cursor: text;
}
form#signup_input_box #email {
    width: 95%;
    margin: 10px 0px 10px 0px;
    outline: none;
    border: 1px solid #80808096;
    border-radius: 3px;
    padding: 6px 4px;
    font-size: 14px;
    cursor: text;
}
form#signup_input_box #password {
    width: 95%;
    outline: none;
    border: 1px solid #80808096;
    border-radius: 3px;
    padding: 6px 4px;
    font-size: 14px;
    cursor: text;
}
div.dateofbirth label {
    margin: 5px 0px 5px 0px;
    display: block;
    font-size: 10px;
}
.dateofbirth select {
    width: 32%;
    outline: none;
    border: 1px solid #80808096;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 0px;
    cursor: pointer;
    color: #757575;
}
.dateofbirth select option{
    cursor: pointer;
}
.gender #gender {
    margin: 5px 0px 5px 0px;
    display: block;
    font-size: 10px;
}

.gender div {
    display: inline-grid;
    grid-auto-flow: column;
    place-items: center;
    border: 1px solid #80808096;
    padding: 6px 0px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 6px;
    flex-direction: row;
    width: 30%;
    color: #757575;
}
.gender div:last-child {
    margin-right: 0px;
}
form#signup_input_box p {
    font-size: 10px;
    margin: 10px 0px 15px 0px;
}
form#signup_input_box .signup_input_box_button {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

form#signup_input_box .signup_input_box_button button {
    width: 40%;
    background: #00A400;
    outline: none;
    border: none;
    padding: 10px 0px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
form#signup_input_box .signup_input_box_button a {
    text-decoration: none;
    margin-top: 15px;
    font-size: 13px;
    color: #114ac0 !important;
}
form#signup_input_box .signup_input_box_button button:active {
    background: green;
}

.gender div label,input {
    cursor: pointer;
}
div#dateofbirth label i {
    color: #636363;
}

.gender #gender i {
    color: #636363;
}

/* footer style start */

.containerr {
    width: 60%;
    margin: auto;
}
.footerWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.language {
    margin: 60px 0px 15px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #80808061;
}

.language ul {
    list-style: none;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.language ul li {
    margin-right: 17px;
}

.language ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #114ac0 !important;
}

.otherlink ul {
    list-style: none;
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
}

.otherlink ul li {
    margin-right: 28px;
    margin-bottom: 8px;
}

.otherlink ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #114ac0 !important;
}

.containerr p {
    font-size: 11px;
}
.language ul li button {
    width: 35px;
    font-weight: 900;
}
form#signup_input_box p a {
    text-decoration: none;
    color: #114ac0;
}




#loginheader{
    background-color: #F0F2F5;
}

.container {
    width: 60%;
    margin: auto;
    height: 640px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.facebookabbr .facebookabbr_image {position: relative;left: -17px;margin-top: 0;}

.facebookabbr .facebookabbr_image img {
    width: 40%;
}

.facebookabbr {
    width: 40%;
    margin-top: -250px;
}

.facebookabbr_text h2 {
    font-weight: 500;
}

.facebookloginWrapper {
    padding: 15px;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: grid;
    place-items: center;
    box-shadow: 0px 4px 9px 0px #0000002e;
}

.facebookloginForm form input {
    width: 97%;
    outline: none;
    border: 1px solid #80808096;
    border-radius: 3px;
    padding: 15px 4px;
    font-size: 14px;
    cursor: text;
    margin-bottom: 20px;
    font-size: 16px;
}

.facebookloginForm {
    margin-top: 10px;
    width: 100%;
}

.facebookloginForm form button {
    width: 100%;
    padding: 15px 0px;
    font-size: 20px;
    outline: none;
    border: none;
    background: #1776F2;
    color: white;
    border-radius: 7px;
    margin-bottom: 5px;
    cursor: pointer;
}

.forgotpassword a {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.forgotpassword {
    margin-bottom: 10px;
    border-bottom: 1px solid #80808082;
    padding: 15px 0px;
    width: 100%;
}
.createAccount {
    width: 50%;
    background: #42B72A;
    padding: 10px;
    border-radius: 6px;
    margin: 12px 0px;
}

.createAccount a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.createpage {
    margin: 40px 0px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.facebookloginBox {
    width: 35%;
}

.createpage p a {
    color: black;
    text-decoration: none;
    font-weight: 900;
}
.facebookloginForm form button:active {
    background: #3434f3;
}
.createAccount:active {
    background: #008000bf;
}

/* footer style start */

.containerr {
    width: 60%;
    margin: auto;
}
.footerWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.language {
    margin: 60px 0px 15px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #80808061;
}

.language ul {
    list-style: none;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.language ul li {
    margin-right: 17px;
}

.language ul li a {
    text-decoration: none;
    font-weight: 600;
    color: gray !important;
}

.otherlink ul {
    list-style: none;
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
}

.otherlink ul li {
    margin-right: 28px;
    margin-bottom: 8px;
}

.otherlink ul li a {
    text-decoration: none;
    font-weight: 600;
    color: gray !important;
}

.containerr p {
    font-size: 11px;
}
.language ul li button {
    width: 35px;
    font-weight: 900;
}
form#signup_input_box p a {
    text-decoration: none;
    color: #114ac0;
}


